html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a,
a:active,
a:checked,
a:focus {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  cursor: pointer;
}

button:active {
  color: black;
}

.phone-wrapper-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
  text-align: center !important;
  justify-content: center !important;
}

.large-phone-button {
  width: 20% !important;
}

@media screen and (max-width: 966px) {
  .large-phone-button {
    width: 30%;
  }
}
@media screen and (max-width: 772px) {
  .large-phone-button {
    width: 40% !important;
    left: 30% !important;
  }
}
@media screen and (max-width: 412px) {
  .large-phone-button {
    width: 60% !important;
    left: 20% !important;
  }
}
