@use '../styles/colors';
@use '../styles/fonts';

$green-gradient: linear-gradient(90deg, colors.$green_9 0%, colors.$white 100%);
$blue-gradient: linear-gradient(
  270deg,
  rgba(204, 253, 255, 0.67) 0%,
  #f1ffff 71.35%,
  #faffff 91.67%,
  rgba(255, 255, 255, 0) 100%
);

$text-gradient: linear-gradient(
  180deg,
  colors.$green_2 0%,
  colors.$blue_2 100%
);

h1 {
  font-weight: 300;
  font-size: fonts.$big;
}

#headline-no-color {
  margin: 0;
}

#headline-color {
  margin: 0;
  color: colors.$blue_1;
}

h2 {
  font-weight: 300;
  font-size: fonts.$medium;
  margin: 2em 0 2em 0;
}

#text-under-headline {
  color: colors.$grey_2;
}

.landing-wrapper {
  font-weight: 300;
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: colors.$white;
  display: flex;
}

.left-gradient {
  height: 100%;
  width: 12%;
  background: $green-gradient;
}

.landing-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 44%;
  padding: 4rem;
}

.right-gradient {
  height: 100%;
  width: 44%;
  background: $blue-gradient;
}

.headline-wrapper {
  margin-top: 0;
}

.text-button-section {
  display: flex;
  margin-bottom: 0;
}

.button {
  font-size: fonts.$medium;
  padding: 5px 10px 5px 10px;
}

.button-filled {
  padding: 6px 11px 6px 11px;
}

.button-not-filled {
  border: solid;
  border-width: 1px;
}

.right-button {
  margin-left: 1.2em;
}

#black-button {
  background: colors.$black;
  color: colors.$white;
}

.middle-section {
  display: flex;
  background: colors.$blue_1;
  color: colors.$white;
  height: 90vh;
}

.middle-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 0 5% 0 5%;
}

#white-button-not-filled {
  color: colors.$white;
  border-style: solid;
  border-color: colors.$white;
  border-width: 1px;
}

#white-button-filled {
  color: colors.$blue_1;
  background: colors.$white;
}

#middle-section-image {
  height: 100%;
  width: 60%;
}

#middle-section-headline {
  margin: 0;
}

#middle-section-text {
  color: colors.$grey_6;
}

.bottom-section-wrapper {
  width: 70%;
  margin-left: 15%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#headline-gradient {
  margin: 0;
  background: $text-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom-headline-section {
  display: flex;
  flex-direction: row;
}

.bottom-headline-wrapper {
  width: 100%;
}

#bottom-subtitle {
  color: colors.$grey_2;
  width: 40%;
}

.bottom-tiles-wrapper {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-section {
  font-size: 20px;
  transition: 0.5s ease-out;
}

.login-section-wrapper {
  height: calc(100vh - 114px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  transition: 0.7s;
}

.login-section-close {
  font-size: 0px;
}

.login-section-wrapper-close {
  height: 0;
}
