body {
  background-color: white;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 50vw;
  height: 50vh;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-1 {
  border: 1px solid;
  border-radius: 110px;
  border-image-source: linear-gradient(
    45deg,
    rgb(0, 143, 104),
    rgb(250, 224, 66)
  );
  border-image-slice: 1;
}
