$black: #000;
$white: #fff;

$green_1: #3e6600;
$green_2: #5a9300;
$green_3: #80cc08;
$green_4: #afff31;
$green_5: #baff4e;
$green_6: #c4fb6d;
$green_7: #d2fe8d;
$green_8: #e0ffae;
$green_9: #ebffcb;

$grey_1: #1e1e1e;
$grey_2: #393939;
$grey_3: #5f5f5f;
$grey_4: #808080;
$grey_5: #a7a7a7;
$grey_6: #c7c7c7;
$grey_7: #d7d7d7;
$grey_8: #f5f5f5;
$grey_9: #fdfdfd;

$blue_1: #002d2f;
$blue_2: #008389;
$blue_3: #00b2bb;
$blue_4: #00d1db;
$blue_5: #00f3ff;
$blue_6: #83f9ff;
$blue_7: #9efaff;
$blue_8: #b8fcff;
$blue_9: #ccfdff;

$gradient-light: linear-gradient(0deg, $blue_4 0%, $green_4 100%);
$gradient-btn: linear-gradient(-90deg, $blue_4 0%, $green_3 100%);
$footer-line-gradient: linear-gradient(90deg, #80cc08 0%, #00d1db 100%);
